<ion-header>
  <ion-toolbar>
    <ion-title>Nueva Tarea</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cancel()">Cancelar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Conectamos el formulario reactivo -->
  <form [formGroup]="taskForm" (ngSubmit)="submit()">

    <ion-item>
      <ion-input
        label="Título de la tarea"
        labelPlacement="floating"
        formControlName="title"
        type="text"
        placeholder="Ej: Revisar despliegue en AWS">
      </ion-input>
    </ion-item>

    <!-- Mensaje de error visual -->
    @if (taskForm.get('title')?.invalid && taskForm.get('title')?.touched) {
      <div class="error-message">
        <small class="error-message">
          El título es obligatorio (mínimo 3 letras).
        </small>
      </div>
    }

    <ion-item class="ion-margin-top">
      <ion-textarea
        label="Descripción (Opcional)"
        labelPlacement="floating"
        formControlName="description"
        placeholder="Detalles adicionales...">
      </ion-textarea>
    </ion-item>

    <!-- Categoría -->
    <ion-item class="ion-margin-top">
      <ion-select
        label="Categoría"
        labelPlacement="floating"
        formControlName="categoryId"
        interface="action-sheet"
        cancelText="Cancelar"
        placeholder="Seleccionar categoría">

        <!-- Opción por defecto para tareas sin categoría -->
        <ion-select-option [value]="null">Sin categoría</ion-select-option>

        <!-- Iteramos sobre las categorías -->
        @for (category of categories$ | async; track category.id) {
          <ion-select-option [value]="category.id">
            {{ category.name }}
          </ion-select-option>
        }

      </ion-select>
    </ion-item>

    <ion-button expand="block" type="submit" class="ion-margin-top" [disabled]="taskForm.invalid">
      Guardar Tarea
    </ion-button>

  </form>
</ion-content>
